input[type="button"],
input[type="submit"],
button,
.button {
  background: hsl(195deg 90% 50%);
  color: white;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  display: inline-block;
  border-radius: 2px;
  &:hover {
    background: hsl(195deg 90% 60%);
  }
}
a.button {
  text-decoration: none;
}

.content:not(.full) {
  max-width: 1100px;
  &.wide {
    max-width: 1400px;
  }
  margin: 0 auto;
  @media (max-width: 1100px) {
    margin: 0 2rem;
  }
  @media (max-width: 800px) {
    margin: 0 1rem;
  }
}

a,
.a {
  color: hsl(195deg 90% 50%);
  text-decoration: underline;
  * {
    text-decoration: underline;
  }
  &:hover {
    color: hsl(195deg 90% 40%);
  }
  &:hover,
  &:hover * {
    text-decoration: none;
  }
}
a,
.a,
.clickable {
  cursor: pointer;
}
